.progressive-img {
	position: absolute;
	width: 100%;
	object-fit: cover;

	&-thumbnail {
		object-fit: cover;
		width: min-content;
		position: absolute;
		filter: blur(20px);
		transition: opacity ease 2s;
		clip-path: inset(0);
	}
}

