.progressive-img {
	position: absolute;
	width: 100%;
	object-fit: cover;

	&-thumbnail {
		object-fit:cover;
		width:100%;
		position: absolute;
		filter: blur(80px);
		transition: opacity ease-in 1000ms;
		clip-path: inset(0);
	}
}

