@import "../../assets/scss/variables";

.hourly-weather {
	height: 115px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__rain-drop {
		color: #618BA8;
		font-size: 0.8rem;
		margin-bottom: 13px;
	}

	&__icon {
		font-size: 2.2rem;
		margin-bottom: 15px;
	}

	&__time {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.25rem;
	}
}