@import "../../assets/scss/variables";

.hourly-weather {
	height: 120px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__temp {
		font-size: 1rem;
		color: #646464;
		margin-bottom: 10px;
	}

	&__icon {
		font-size: 2.2rem;
		margin-bottom: 13px;
		transition: all ease 0.5s;
		&:hover {
			transform: scale(1.1);
			transform-origin: center;
		}
	}

	&__time {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.25rem;
	}
}